<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.justinzyh.film">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".app.IkeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/image1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AxCMM9PuXfEsQNLfsFhluaGuW5c9VMM3"/>

        <activity
            android:name=".mvp.ui.main.ui.MainActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.weather.ui.WeatherActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="com.justinzyh.ike.weather"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.movie.FilmActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.justinzyh.ike.film"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.movie.CategoryFilmActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.justinzyh.ike.category"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.remember.RememberActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.justinzyh.ike.remember"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.remember.TextRemarkActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".mvp.ui.popupmenu.ShareFragment">
        </activity>
        <activity android:name=".mvp.ui.popupmenu.AdviceFragment">
        </activity>
        <activity android:name=".mvp.ui.popupmenu.MyselfFragment"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".mvp.ui.popupmenu.USFragment">
        </activity>
        <activity android:name=".mvp.ui.popupmenu.PopupMenuFragment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>